footer.footer
  .container
    .row
      .footer-col-1
        h3 Download Our App
        p Android・iosの携帯電話でアプリをダウンロードできます。
        .app-logo
          img(src="../images/play-store.png")
          img(src="../images/app-store.png")
      .footer-col-2
        img(src="../images/logo-white.png")
        p スポーツの楽しさや効果を持続的に多くの人に知ってもらうことを目的としています。
      .footer-col-3
        h3 Useful Links
        ul
          li Conpons
          li Blog Post
          li Return Policy
          li Join Affiliate
      .footer-col-4
        h3 Follow us
        ul
          li Facebook
          li Twitter
          li Instagram
          li Youtube
    hr
    p.copyright Copyright 2020 - Easy Tutorials
