.container
  .navbar
    .logo
      a(href="index.html")
        img(src="../images/logo.png")
    nav
      ul#MenuItems
        li
          a(href="index.html") Home
        li
          a(href="products.html") Products
        li
          a(href="") About
        li
          a(href="") Contact
        li
          a(href="account.html") Account
    a(href="cart.html")
      img.cart(src="../images/cart.png")
    img.menu-icon(src="../images/menu.png" onclick="menutoggle()")
