extends _layout.pug
block locals
  - var title = 'All products RedStore';
block content
  include _menu.pug

  //- single product details
  .small-container.single-product
    .row
      .col-2
        img#ProductImg(src="../images/gallery-1.jpg")
        .small-img-row
          .small-img-col
            img.small-img(src="../images/gallery-1.jpg")
          .small-img-col
            img.small-img(src="../images/gallery-2.jpg")
          .small-img-col
            img.small-img(src="../images/gallery-3.jpg")
          .small-img-col
            img.small-img(src="../images/gallery-4.jpg")
      .col-2
        p Home | T-Shirt
        h1 Red Printed T-Shirt by HRX
        h4 $50.00
        select
          option Select Size
          option XXL
          option XL
          option Large
          option Medium
          option Small
        input(type="number" value="1")
        a.btn(href="") Add to Cart

        h3 製品の詳細
          i.fa.fa-indent
        p HRXメンズアクティブTシャツで夏のワードローブをスタイルアップグレード。朝のワークアウトにはショーツを、夜のお出かけにはデニムを合わせてみてはいかがでしょうか。


  //- title
  .small-container
    .row.row-2
      h2 Related products
      p View more

  //- feature products
  .small-container
    .row
      .col-4
        img(src="../images/product-9.jpg")
        h4 Red Printed T-Shirt
        .rating
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
        p $50.00
      .col-4
        img(src="../images/product-10.jpg")
        h4 Red Printed T-Shirt
        .rating
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-half-o
          i.fa.fa-star-o
        p $50.00
      .col-4
        img(src="../images/product-11.jpg")
        h4 Red Printed T-Shirt
        .rating
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-half-o
        p $50.00
      .col-4
        img(src="../images/product-12.jpg")
        h4 Red Printed T-Shirt
        .rating
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
        p $50.00

  include _footer.pug
